// Main color palette
$color-1: #000;
$color-2: #fff;
$color-3: #8d8c8c;
$color-4: #ef6c00;
$color-5: #d7d7d7;
$color-6: #283593;

// Typography
$title-font-family: 'Overpass', sans-serif;
$main-font-family: 'Source Sans Pro', sans-serif;
$font-weight-n: 400;
$font-weight-sb: 600;
$font-weight-b: 700;

// General
