@import "../../styles/helpers.scss";

.avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;

  &.square {
    border-radius: 0;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
  }
}
