@import "../../styles/helpers.scss";

.logout-button {
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  width: 24px;
  height: 20px;
  padding: 0;
  outline: none;
  margin: auto 0;
  transform: translate(1px, 1px);
}
