@import "../../styles/helpers.scss";

.default-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 40px;
  cursor: pointer;
  background-color: $color-4;
  border: none;
  border-radius: 4px;
  outline: none;
  @include ak-transition();

  &:hover, &:active {
    background-color: lighten($color-4, 10);
  }

  &__text {
    font-size: 20px;
    color: $color-2;
    letter-spacing: 1.3px;
    margin-top: -2px;
    margin-left: -1px;
  }
}
