@import "../../styles/helpers.scss";

.user-panel {
  display: flex;
  margin: auto 0 auto 0;

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-2px);
  }

  &__username {
    font-size: 14px;
  }

  &__email {
    font-size: 12px;
    margin-right: 2px;
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: center;

    &_second {
      margin-left: 11px;
    }

    &_last {
      margin-left: 16px;
    }
  }
}
