@import "styles/helpers";

/* Main */
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p, a, span, label {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: $title-font-family;
}

h5, p, a, span, label, li {
  font-family: $main-font-family;
}

h1 {
  font: {
    size: 50px;
    weight: $font-weight-sb;
  };
  line-height: 60px;
  
  @media all and (max-width: 1199px) {
    font-size: 42px;
    line-height: 51px;
  }

  @media all and (max-width: 991px) {
    font-size: 30px;
    line-height: 36px;
  }
}

h2 {
  font: {
    size: 42px;
    weight: $font-weight-sb;
  };
  line-height: 51px;

  @media all and (max-width: 991px) {
    font-size: 26px;
    line-height: 31px;
  }
}

h3 {
  font: {
    size: 26px;
    weight: $font-weight-sb;
  };
  line-height: 31px;

  @media all and (max-width: 991px) {
    font-size: 22px;
    line-height: 26px;
  }
}

h4 {
  font: {
    size: 22px;
    weight: $font-weight-sb;
  };
  line-height: 26px;
}

h5 {
  font: {
    size: 18px;
    weight: $font-weight-n;
  };
  line-height: 21px;

  @media all and (max-width: 991px) {
    font-size: 16px;
    line-height: 20px;
  }
}

span {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: $color-1;

  &.styled-link {
    position: relative;

    &:after {
      display: block;
      width: 0;
      height: 2px;
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-1;
      @include ak-transition();
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  &.white {
    color: $color-2;

    &:after {
      background-color: $color-2;
    }
  }
}
