@import "../../styles/helpers.scss";

.intro-section {
  display: flex;
  width: 100%;
  height: 676px;
  background: {
    image: url("./images/banner-bg-2560x676.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  };

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__text {
    max-width: 550px;
    margin: auto auto auto 0;
    transform: translateY(-5px);
  }

  h1, p {
    color: $color-2;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    line-height: 1.3;
    font-size: 20px;
    margin-bottom: 34px;
  }
}
